<link media="all" type="text/css" rel="stylesheet" href="/stylesheets/css/font-awesome.css">
<link media="all" type="text/css" rel="stylesheet" href="/stylesheets/css/app.css">
<link media="all" type="text/css" rel="stylesheet" href="/stylesheets/css/app-blessed1.css">
<link href="/stylesheets/css/main.css" rel="stylesheet" type="text/css">
<div class="page-accountlandlorddashboard main-padding phonespacing">
    <div id="content">
        <div id="content-nav-slide">
            <div class="header-space"></div>            
            <main>
                <div class="container">
                    <div class="row">
                        <aside class="sidemenu">
                            <h2>Navigation</h2>
                            <ul>
                                <li>
                                    <a href="/account/landlord" class="active">
                                        <i class="fa fa-bar-chart"></i>
                                        <span>Overview</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/landlord/listings" class="">
                                        <i class="fa fa-list-ul"></i>
                                        <span>My Listings</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/landlord/bookings" class="">
                                        <i class="fa fa-calendar"></i>
                                        <span>My Bookings</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/landlord/payments" class="">
                                        <i class="fa fa-credit-card"></i>
                                        <span>Payment Preferences</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/account/profile" class="">
                                        <i class="fa fa-user"></i>
                                        <span>My Account</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <section class="content">
                            <h1><i class="fa fa-bar-chart"></i> Overview</h1>
                            <div class="alert alert-success alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                You have successfully logged in.
                                <br>
                            </div>


                            <div class="account-progress">
                                <h4>Your profile is <span><span class="perc">65</span>% complete</span></h4>
                                <div class="progress-overflow">
                                    <ul>
                                        <li class="register-space complete">
                                            <div class="criteria-block">
                                                <a href="/list-your-space">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Register a space
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="photo complete">
                                            <div class="criteria-block">
                                                <a href="/list-your-space/20482975/photos">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Add at least one photo
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="availability complete">
                                            <div class="criteria-block">
                                                <a href="/list-your-space/20482975/availability">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Set Availability
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="payment double 1">
                                            <div class="criteria-block">
                                                <a href="/account/landlord/payments">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Payment information added
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="profile-picture double 1">
                                            <div class="criteria-block">
                                                <a href="/account/profile">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Upload profile picture
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="verified-email 1">
                                            <div class="criteria-block">
                                                <a href="/account/profile">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Verified email
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="verified-phone 1">
                                            <div class="criteria-block">
                                                <a href="/account/profile">
                                                    <div class="o">
                                                        <div class="i">
                                                            <span class="check">
                                                <i class="fa fa-check"></i>
                                            </span>
                                                            Verified phone
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="profile-progress-outer">
                                        <div class="profile-progress">
                                            <div class="profile-progress-bar" role="progressbar" style="width: 301.5px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="earnings-transactions">
                                <div class="earnings">
                                    <div class="earning">
                                        <p>Pending this Month <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pending: Your earnings from bookings that are ongoing or yet to start."></i>
                                        </p>
                                        <span>£ 0.00</span>
                                    </div>
                                    <div class="earning">
                                        <p>Pending Transfer <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Pending Transfer: Your next payment amount - earnings from all bookings that have ended successfully but not yet been paid to you."></i>
                                        </p>
                                        <span>£ 0.00</span>
                                    </div>
                                    <div class="earning">
                                        <p>Lifetime Earnings <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Lifetime Earnings: The total amount that has been paid to you."></i>
                                        </p>
                                        <span>£ 0.00</span>
                                    </div>
                                </div>
                                <div class="transactions">
                                    <div class="transaction">
                                        <p>Lifetime Transactions <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Lifetime Transactions: The total number of bookings you&#39;ve received."></i>
                                        </p>
                                        <span>4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="section recent">
                                <h2>Last 2 Bookings</h2>
                                <div class="bookings-breakdown">
                                    <div class="status status_active">
                                        0 Active
                                    </div>
                                    <div class="status status_complete">
                                        2 Complete
                                    </div>
                                </div>
                                <div class="ftable">
                                    <div class="frow">
                                        <div class="fcol">
                                            <a href="/account/landlord#" data-toggle="modal" data-target="#viewTenantInfo-12053">F GOLLEDGE</a>
                                        </div>
                                        <div class="fcol">
                                            03/04/2016 - 03/04/2016
                                        </div>
                                        <div class="fcol column_status">
                                            <div class="status status_complete">
                                                Completed
                                            </div>
                                        </div>
                                        <div class="fcol">
                                            lv08eul
                                        </div>
                                        <div class="fcol">
                                            £1.00
                                        </div>
                                        <div class="fcol">
                                            02/04/2016
                                        </div>
                                    </div>

                                    <div class="frow">
                                        <div class="fcol">
                                            <a href="/account/landlord#" data-toggle="modal" data-target="#viewTenantInfo-12002">Alexa Lopez</a>
                                        </div>
                                        <div class="fcol">
                                            02/04/2016 - 02/04/2016
                                        </div>
                                        <div class="fcol column_status">
                                            <div class="status status_complete">
                                                Completed
                                            </div>
                                        </div>
                                        <div class="fcol">
                                            LP13NNF
                                        </div>
                                        <div class="fcol">
                                            £1.00
                                        </div>
                                        <div class="fcol">
                                            01/04/2016
                                        </div>
                                    </div>

                                </div>
                                <div class="viewTenantInfoModals">
                                    <div class="modal fade" id="viewTenantInfo-12053" tabindex="-1" role="dialog" aria-labelledby="tentantInfoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content" style="margin-top: 208px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="tentantInfoModalLabel"><i class="fa fa fa-user"></i> Tenant Info:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Name:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>F GOLLEDGE</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Email:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>fgolledge@yahoo.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Phone:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>07595740714</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Mobile:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>07595740714</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Vehicle Reg:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>lv08eul</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="viewTenantInfo-12002" tabindex="-1" role="dialog" aria-labelledby="tentantInfoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content" style="margin-top: 208px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title" id="tentantInfoModalLabel"><i class="fa fa fa-user"></i> Tenant Info:</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Name:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>Alexa Lopez</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Email:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>lopez_alexa@hotmail.com</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Phone:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>07450094830</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Mobile:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>07450094830</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                            <p><strong>Vehicle Reg:</strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                            <p>LP13NNF</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section active">
                                <h2>Your Spaces <span>(1)</span></h2>
                                <div class="ftable">
                                    <div class="frow fheader">
                                        <div class="fcol">
                                            Postcode
                                        </div>
                                        <div class="fcol">
                                            Listing Type
                                        </div>
                                        <div class="fcol">
                                            Price
                                        </div>
                                        <div class="fcol">
                                            Status
                                        </div>
                                        <div class="fcol">
                                            Lifetime Earnings
                                        </div>
                                        <div class="fcol">

                                        </div>
                                    </div>
                                    <div class="frow">
                                        <div class="fcol">
                                            <div class="fcol-mobile-header">
                                                Postcode
                                            </div>
                                            W112BQ
                                        </div>
                                        <div class="fcol">
                                            <div class="fcol-mobile-header">
                                                Listing Type
                                            </div>
                                            Parking Space
                                        </div>
                                        <div class="fcol">
                                            <div class="fcol-mobile-header">
                                                Price
                                            </div>
                                            £1.25
                                        </div>
                                        <div class="fcol column_status">
                                            <div class="status status_active">
                                                Active
                                            </div>
                                        </div>
                                        <div class="fcol">
                                            <div class="fcol-mobile-header">
                                                Lifetime Earnings
                                            </div>
                                            £ 2.5
                                        </div>
                                        <div class="fcol column_controls">
                                            <div class="button-outer">
                                                <a href="/account/landlord/listings/20482975/disable">Disable</a>
                                            </div>
                                            <div class="button-outer">
                                                <a href="/list-your-space/20482975/edit">Edit</a>
                                            </div>
                                            <div class="button-outer">
                                                <a href="/locations/show/20482975">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
