<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ParkWiz</title>

<!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet"
	type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<style>
.image {
	display: block;
	margin: auto;
}
</style>
</head>
<body>
	<div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel" data-interval="5000">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="image" src="/images/1.jpg" alt="...">
			</div>
			<div class="item">
				<img class="image" src="/images/2.jpg" alt="...">
			</div>
			<div class="item">
				<img class="image" src="/images/3.jpg" alt="...">
			</div>
			<div class="item">
				<img class="image" src="/images/4.jpg" alt="...">
			</div>
		</div>
	</div>


	<div id="log" class="login-panel panel panel-default"
		style="width: 35% ; border: 1px #0066ff solid;position: absolute; top: 35%; left: 35%">
		<div class="panel-heading" style="background-color: #0066ff">
			<h3 class="panel-title" style="color: #fff">Please Sign In</h3>
		</div>
		<div class="panel-body">
			<form role="form">
				<fieldset>
					<div class="form-group">
						<input class="form-control" placeholder="E-mail" name="email"
							type="email" autofocus>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Password" name="password"
							type="password" value="">
					</div>
					<div class="checkbox">
						<label> <input name="remember" type="checkbox"
							value="Remember Me">Remember Me
						</label>
					</div>
					<!-- Change this to a button or input when using this as a form -->
					<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
				</fieldset>
			</form>
		</div>
	</div>
</body>
<script>
	
	if($( document ).width() <= 500){
		$(".image").css("width", $( document ).width()).css("height", $( document ).height());
	}else{
		$(".image").css("width", $( document ).width()).css("height", $( document ).height() - 127);
	}
</script>
</html>