<!DOCTYPE html>
<html lang="en" ng-app>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ParkWiz</title>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjFNJakTcBDyGbyNZHQNSpamaxlpWl3c0">
	
</script>

<!-- Bootstrap Core CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Angular Core javascript -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

<!-- MetisMenu CSS -->
<link href="/stylesheets/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS -->
<link href="/stylesheets/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet"
	type="text/css">

<link media="all" type="text/css" rel="stylesheet" href="/stylesheets/myaccount.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="layoutmodule">
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0; position: fixed; width: 100%;">
			<table id="navtable" width="100%">
				<tr>
					<td><div class="navbar-header" style="display: block;">
							<div class="dropdown" style="float: left;">
								<button class="dropbtn" onclick="toggle(this);">
									<i class="fa fa-home fa-fw menuSize"></i>Menu
								</button>
								<div id="navMenus" class="dropdown-content" style="left: 0;">
									<ul class="nav" id="side-menu">
										<li><a class="aNav" href="/"><p align="center">
													<i class="fa fa fa-bookmark fa-fw menuSize"></i>
												</p>
												<p align="center">Reservation</p></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-child fa-fw menuSize"></i>
												</p>
												<p align="center">User Details</p></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-money fa-fw menuSize"></i>
												</p>
												<p align="center">Billing</p></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-dashboard fa-fw menuSize"></i>
												</p>
												<p align="center">Graphs</p></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-book fa-fw menuSize"></i>
												</p>
												<p align="center">Reviews</p></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-sitemap fa-fw menuSize"></i>
												</p>
												<p align="center">Multi-Level</p> </span></a></li>
										<li><a class="aNav" href="#"><p align="center">
													<i class="fa fa-bar-chart-o fa-fw menuSize"></i>
												</p>
												<p align="center">Charts</p></a></li>
									</ul>
								</div>
							</div>
							<a class="navbar-brand" href="/">ParkWiz</a>
						</div> <!-- /.navbar-header --></td>
					<td>
						<div style="float: right;">
							<ul id="subdiv" class="nav navbar-top-links navbar-right">
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#"> <i
										class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
								</a>
									<ul class="dropdown-menu dropdown-tasks">
										<li><a href="#">
												<div>
													<p>
														<strong>Task 1</strong> <span
															class="pull-right text-muted">40% Complete</span>
													</p>
													<div class="progress progress-striped active">
														<div class="progress-bar progress-bar-success"
															role="progressbar" aria-valuenow="40" aria-valuemin="0"
															aria-valuemax="100" style="width: 40%">
															<span class="sr-only">40% Complete (success)</span>
														</div>
													</div>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<p>
														<strong>Task 2</strong> <span
															class="pull-right text-muted">20% Complete</span>
													</p>
													<div class="progress progress-striped active">
														<div class="progress-bar progress-bar-info"
															role="progressbar" aria-valuenow="20" aria-valuemin="0"
															aria-valuemax="100" style="width: 20%">
															<span class="sr-only">20% Complete</span>
														</div>
													</div>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<p>
														<strong>Task 3</strong> <span
															class="pull-right text-muted">60% Complete</span>
													</p>
													<div class="progress progress-striped active">
														<div class="progress-bar progress-bar-warning"
															role="progressbar" aria-valuenow="60" aria-valuemin="0"
															aria-valuemax="100" style="width: 60%">
															<span class="sr-only">60% Complete (warning)</span>
														</div>
													</div>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<p>
														<strong>Task 4</strong> <span
															class="pull-right text-muted">80% Complete</span>
													</p>
													<div class="progress progress-striped active">
														<div class="progress-bar progress-bar-danger"
															role="progressbar" aria-valuenow="80" aria-valuemin="0"
															aria-valuemax="100" style="width: 80%">
															<span class="sr-only">80% Complete (danger)</span>
														</div>
													</div>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a class="text-center" href="#"> <strong>See
													All Tasks</strong> <i class="fa fa-angle-right"></i>
										</a></li>
									</ul> <!-- /.dropdown-tasks --></li>
								<!-- /.dropdown -->
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#"> <i
										class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
								</a>
									<ul class="dropdown-menu dropdown-alerts">
										<li><a href="#">
												<div>
													<i class="fa fa-comment fa-fw"></i> New Comment <span
														class="pull-right text-muted small">4 minutes ago</span>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
														class="pull-right text-muted small">12 minutes ago</span>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<i class="fa fa-envelope fa-fw"></i> Message Sent <span
														class="pull-right text-muted small">4 minutes ago</span>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<i class="fa fa-tasks fa-fw"></i> New Task <span
														class="pull-right text-muted small">4 minutes ago</span>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a href="#">
												<div>
													<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
														class="pull-right text-muted small">4 minutes ago</span>
												</div>
										</a></li>
										<li class="divider"></li>
										<li><a class="text-center" href="#"> <strong>See
													All Alerts</strong> <i class="fa fa-angle-right"></i>
										</a></li>
									</ul> <!-- /.dropdown-alerts --></li>
								<!-- /.dropdown -->
								<li class="dropdown"><a class="dropdown-toggle"
									data-toggle="dropdown" href="#"> <i
										class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
								</a>
									<ul class="dropdown-menu dropdown-user">
										<li id="myaccount" onclick="onClickMyAccount();">
											<a href="#"><i class="fa fa-user fa-fw"></i>
												My Account</a></li>
<li class="divider"></li>				
										<li id="bookinghistory" onclick="onClickBookingHistory();">
											<a href="#"><i class="fa fa-calendar fa-fw"></i>
												Booking History</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="fa fa-gear fa-fw"></i>
												Settings</a></li>
										<li class="divider"></li>
										<li><a href="login.html"><i
												class="fa fa-sign-out fa-fw"></i> Logout</a></li>
									</ul> <!-- /.dropdown-user --></li>
								<!-- /.dropdown -->
							</ul>
							<!-- /.navbar-top-links -->
						</div>
					</td>
				</tr>
			</table>



		</nav>

		<div id="page-wrapper">
			<div ng-include src="template.url"></div>
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="/js/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/js/sb-admin-2.js"></script>


</body>

<script>
	function onClickMyAccount() {
		if(typeof(Storage) !== "undefined") {
			sessionStorage.setItem("template", "My Account");
		}

		location.reload();
	}

	function onClickBookingHistory() {
		if(typeof(Storage) !== "undefined") {
			sessionStorage.setItem("template", "My Booking History");
		}

		location.reload();
	}

	function layoutmodule($scope, $http) {
		var templateName = "Search Page"; // Search is the default url.
		if(typeof(Storage) !== "undefined") {
			templateName = sessionStorage.getItem("template");
			if (!templateName) {
				templateName = "Search Page";
			} else {
				sessionStorage.removeItem("template");
			}
		}
		
		$scope.templates = [ {
			name : 'Search Page',
			url : '/search'
		},
		{
			name : 'My Account',
			url : '/myaccount',
			
		} ,
		{
			name : 'My Booking History',
			url : '/bookinghistory'	
		} ];

		$scope.templates.forEach(function(template) {
    	   	     if (template['name'] == templateName) {
				$scope.template = template;
		     }
    		if (template['name'] == templateName) {
				$scope.template = template;
			}
		});
		
		//initialize();
	}

	function searchmodule($scope, $http) {
		initMap();
	}
</script>

<script>
	$(".aNav").click(function() {
		$(".aNav").each(function(val) {
			this.className = "aNav";
		});

		this.className = "aNav active";
	});
</script>



<script>
	function toggle(e) {
		$("#navMenus").toggle();
	}

	$(function() {
		$('#tabs a:last').tab('show');
	})
</script>
<script>
	// This example uses SVG path notation to add a vector-based symbol
	// as the icon for a marker. The resulting icon is a star-shaped symbol
	// with a pale yellow fill and a thick yellow border.

	function initMap() {

		var width = document.getElementById('mapContent').offsetWidth;
		var height = document.getElementById('mapContent').offsetHeight;
		$("#map").width(width).height(height);

		var mapDiv = document.getElementById('map');
		var map = new google.maps.Map(mapDiv, {
			center : {
				lat : 37.3352,
				lng : -121.8811
			},
			zoom : 10
		});
	}
</script>

</html>
