<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="width:90%; margin-left:0%">
            <div class="login-panel panel panel-default" style="border: 1px #0066ff solid; margin-top:10%">
                <div class="panel-heading" style="background-color:#0066ff">
                    <h3 class="panel-title" style="color:#fff">My Account</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label style = "float: left;width: 20%;" >First Name</label>
                                <input class="form-control" placeholder="First Name"  style = "float: left;width: 70.83333333%;"autofocus>
                            </div>
                            <br/><br/>
                             <div class="form-group">
                                <label style = "float: left;width: 20%;" >Last Name</label>
                                <input class="form-control" placeholder="Last Name"  style = "float: left;width: 70.83333333%;">
                            </div>
                            <br/><br/>
                             <div class="form-group">
                                <label style = "float: left;width: 20%;" >Email</label>
                                <input class="form-control" placeholder="Email"  style = "float: left;width: 70.83333333%;" type="email">
                            </div>
                            <br/><br/>
                             <div class="form-group">
                                <label style = "float: left;width: 20%;" >Password</label>
                                <input class="form-control" type="password"  style = "float: left;width: 70.83333333%;">
                            </div>
                            <br/><br/>
                            <div class="form-group">
                                <label style = "float: left;width: 20%;" >Address</label>
                                <textarea class="form-control" placeholder="Address"  style = "float: left;width: 70.83333333%;"></textarea>                
                            </div>
                            <br/><br/><br/>
                             <div class="form-group">
                                <label style = "float: left;width: 20%;" >Mobile No.</label>
                                <input class="form-control" placeholder="999-999-9999" type="tel"  style = "float: left;width: 70.83333333%;">
                            </div>
                            <br/><br/>

                            <!--<div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>-->
                            <!-- Change this to a button or input when using this as a form 
                            <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
                            <input type = "submit" class="btn btn-lg btn-success btn-block" value = "Save">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
