<!-- /.row -->
<div style="padding-top: 3%" ng-controller="searchmodule">
	<div class="baseline">
		<!--<h3 class="page-header">Search</h3> -->
		<ol class="breadcrumb margin-top">
			<li class="active"><i class="fa fa fa-bookmark"></i> Home</li>
			<li class="active">Search</li>
		</ol>
	</div>

	<div id="filter" class="baseline">
		<div id="heading">
			<a class="filterheading"> <i class="fa fa-filter fa-fw head"></i>
				Search Filter
			</a>
		</div>
		<div id="content" style="margin: 1%;">
			<div id="filterform">
				<div class="row">
					<div class="col-6">
						<div class="col-sm-1">
							<label style="padding-top: 5px;">Origin</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control" type="date" id="txtorigindate">
						</div>
						<div class="col-sm-1">
							<label style="padding-top: 5px;">Time</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="sel1">
								<option value="00:00">12:00 AM</option>
								<option value="01:00">01:00 AM</option>
								<option value="02:00">02:00 AM</option>
								<option value="03:00">03:00 AM</option>
								<option value="04:00">04:00 AM</option>
								<option value="05:00">05:00 AM</option>
								<option value="06:00">06:00 AM</option>
								<option value="07:00">07:00 AM</option>
								<option value="08:00">08:00 AM</option>
								<option value="09:00">09:00 AM</option>
								<option value="10:00">10:00 AM</option>
								<option value="11:00">11:00 AM</option>
								<option value="12:00">12:00 AM</option>
								<option value="13:00">01:00 PM</option>
								<option value="14:00">02:00 PM</option>
								<option value="15:00">03:00 PM</option>
								<option value="16:00">04:00 PM</option>
								<option value="17:00">05:00 PM</option>
								<option value="18:00">06:00 PM</option>
								<option value="19:00">07:00 PM</option>
								<option value="20:00">08:00 PM</option>
								<option value="21:00">09:00 PM</option>
								<option value="22:00">10:00 PM</option>
								<option value="23:00">11:00 PM</option>
							</select>
						</div>
					</div>
					<div class="col-6">
						<div class="col-sm-1">
							<label style="padding-top: 5px;">Destination</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control" type="date" id="txtdestinationdate">
						</div>
						<div class="col-sm-1">
							<label style="padding-top: 5px;">Time</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="sel1">
								<option value="00:00">12:00 AM</option>
								<option value="01:00">01:00 AM</option>
								<option value="02:00">02:00 AM</option>
								<option value="03:00">03:00 AM</option>
								<option value="04:00">04:00 AM</option>
								<option value="05:00">05:00 AM</option>
								<option value="06:00">06:00 AM</option>
								<option value="07:00">07:00 AM</option>
								<option value="08:00">08:00 AM</option>
								<option value="09:00">09:00 AM</option>
								<option value="10:00">10:00 AM</option>
								<option value="11:00">11:00 AM</option>
								<option value="12:00">12:00 AM</option>
								<option value="13:00">01:00 PM</option>
								<option value="14:00">02:00 PM</option>
								<option value="15:00">03:00 PM</option>
								<option value="16:00">04:00 PM</option>
								<option value="17:00">05:00 PM</option>
								<option value="18:00">06:00 PM</option>
								<option value="19:00">07:00 PM</option>
								<option value="20:00">08:00 PM</option>
								<option value="21:00">09:00 PM</option>
								<option value="22:00">10:00 PM</option>
								<option value="23:00">11:00 PM</option>
							</select>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-12">
						<div class="col-sm-1">
							<label style="padding-top: 5px;">Address</label>
						</div>
						<div class="col-sm-10">
							<input class="form-control" type="text" id="sm">
						</div>
						<div class="col-sm-1" style="float: right;">
							<button type="button" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="mapContent"
		style="margin-top: 1%; min-height: 350px; background-color: #fff">
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a class="searchtab" data-target="#mapview" data-toggle="tab">Map View</a></li>
			<li><a data-target="#tabularview"
				data-toggle="tab">Tabular View</a></li>
		</ul>
		<div class="tab-content">
			<div  class="tab-pane" id="tabularview">Tabular View</div>
			<div class="tab-pane active" id="mapview">
				<div id="map" class="maparea"></div>
			</div>
		</div>

	</div>
</div>
