<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
	.alert{
		height:45px;
		
	}
	</style>
  </head>
  <body style="margin-top: 0px;padding: 0;" background='/images/background2.png'> 
  <div ng-app="" ng-controller="signInController">
  <div class="container" style="margin-top:200px;height:350px;width:300px;background-color:#f2f2f2;" align="center"> 
  			<form>
		        <div class="center-block" align='center'>
		         <div class="form-group"></div>
		         <div class="alert alert-danger fade in" id="error" style="display:none">
	        				<a href="#" class="close">&times;</a>
	        				
				</div>
		        <div class="form-group"> 
		         <label for="email">Email</label>
		        <input type="email" ng-model="signinemail" ng-required="true" name="email" id="email" placeholder="Email" class="form-control">
		        </div>
		       <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password" ng-model="signinpassword" ng-required="true" name="password" id="password" placeholder="Password" class="form-control">
		        </div>
		        <div class="form-group">
		        <button type="button" class="btn btn-primary" ng-click="signin()">Sign In</button>
		        </div>
		         <div class="form-group">
		         <a href="#">Forgot password?</a>
		        </div>
		         <div class="form-group">
		        Want to Join? <a href="#" ng-click="register()">Register</a>
		        </div>
		        </div>
	        </form>
	        </div>
  </div>
  </body>
  <script>
  $('.close').click(function() {
	  
	  $('strong').remove();
	  $('.alert').hide();

  });
  function signInController($scope,$http,$location) {
	    
	   $scope.signin = function() {
		   if(document.getElementById("email").checkValidity()&&document.getElementById("password").checkValidity()){
		    	$http({
		            method: 'POST',
		            url: '/checksignin',
		            data: { "email": $scope.signinemail, "password": $scope.signinpassword }
		            
		         }).success(function(response){
		             if(response.login == "Success")
		           		    alert("success");
		           	 else{
		           		    
		        	 		$('#error').append("<strong>Error!!!Invalid Login.Try again.</strong>");
		        	 		$('.alert').show();
		           	 }
		         }).error(function(error){
		        	 $('#error').append("<strong>Error!!Signin failed.Try again.</strong>");
		        	 $('.alert').show();
		        });
		    }else{
		    	$('#error').append("<strong>Error!!!Enter required fields.</strong>");
		    	$('.alert').show();
		    }
	   };
	   
	   $scope.register = function() {
		   window.location = '/register';
	   };
	}
	</script>
</html>