

.labelclass{
    float: left;
    vertical-align: middle;
    width: 20%;
}

.textboxclass{
    width: 79%;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -190px 10px 0px 40px;
    z-index: 9;
    width: 20%; 
    background-color: #4169E1!important;
}

#col{
   margin-left: 6%;
   border: 1px solid #ccc;
   min-height: 468px;
   background-color: #fff;
   border-bottom: 2px solid #ccc;
   border-radius: 4px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}



@media (max-width:500px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 20px;
    z-index: 9;
    width: 20%; 
    background-color: #4169E1;
}

#col{
   margin-left: 3.8%;
   margin-right: 3.8%;
   margin-bottom: 3%;
   border: 1px solid #ccc;
   min-height: 150px;
   background-color: #fff;
   border-bottom: 2px solid #ccc;
   border-radius: 4px;
}

.labelclass{
    float: left;
    width: 30%;
}

.textboxclass{
    width: 68%;
}
}
